* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.btn-bt {
  padding: 11.2px 19.2px;
  border: 2px solid black;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 7px;
}

body {
  background-color: #e0e0e0;
}

.main {
  margin: auto;
  width: 60%;
  margin-top: 4%;
  min-width: 100vh;
  text-align: center;
}

.title h2 {
  font-size: 32px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.title p {
  font-size: 21px;
}

.title span {
  font-weight: bold;
}

.boxes {
  display: flex;
  margin-top: 5%;
  width: 100%;
  height: auto;
  gap: 2%;
}

.left-box {
  width: 48%;
  display: flex;
  position: relative;
}

.light-sources-top-left {
  background-color: yellow;
  position: absolute;
  top: 0px;
  left: 0px;
  right: unset;
  bottom: unset;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 2px solid #001f3f;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: unset;
  border-top-right-radius: unset;
  border-top-left-radius: unset;
}

.light-sources-top-right {
  position: absolute;
  top: 0px;
  left: unset;
  right: 0;
  bottom: unset;
  width: 30px;
  height: 30px;
  border: 2px solid #001f3f;
  border-bottom-right-radius: unset;
  border-bottom-left-radius: 30px;
  border-top-right-radius: unset;
  border-top-left-radius: unset;
}

.light-sources-buttom-left {
  position: absolute;
  top: unset;
  left: 0px;
  right: unset;
  bottom: 0px;
  width: 30px;
  height: 30px;
  border: 2px solid #001f3f;
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
  border-top-right-radius: 30px;
  border-top-left-radius: unset;
}

.light-sources-buttom-right {
  position: absolute;
  top: unset;
  left: unset;
  right: 0px;
  bottom: 0px;
  width: 30px;
  height: 30px;
  border: 2px solid #001f3f;
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
  border-top-right-radius: unset;
  border-top-left-radius: 30px;
}

.center {
  margin: auto;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.right-box {
  display: flex;
  flex-direction: column;
  min-height: 29rem;
  align-items: center;
  padding: 20px 30px;
  border-radius: 30px;
  text-align: left;
  width: 45%;
  background: #e0e0e0;
  font-weight: 700;
  color: #001f3f;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
  gap: 2%;
  justify-content: center;
}

.row {
  align-content: center;
  display: flex;
  width: 100%;
  font-weight: 700;
  gap: 10px;
  margin-bottom: 20px;
}

label {
  padding-right: 10px;
}

input[type="color"] {
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 0;
  border: 3px solid #001f3f;
  background-color: #e0e0e0;
}

input[type="color"]::-webkit-color-swatch {
  border: 0px;
}
input[type="color"]::-moz-color-swatch {
  border: 0px;
}

input[type="text"] {
  width: 85px;
  height: 32px;
  border: 3px solid #001f3f;
  color: #001f3f;
  font-size: 15px;
  font-weight: 700;
  padding: 0 5px;
}

input[type="range"] {
  width: 100%;
  cursor: pointer;
  transition: 0.49s;
  background-color: transparent;
  appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  cursor: default;
  background-color: #001f3f;
  height: 6px;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: #001f3f;
  border-radius: 70px;
  margin-top: -5px;
}
